{% extends "base.html" %}
{% block head_title %}Movie Alert{% endblock %}
{% load l10n %}
{% load tz %}
{% block content %}
    {{ form.media }}
 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Welcome to Movie Alert</h2>
        <p>Enter few details and if there's a movie on the date you entered you will receive a mail.{% if not user.is_authenticated %} You need to register to use the app.{% endif %}</p>
        {% if user.is_authenticated %}

            <form action="" method="POST">{% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary btn-lg" type="submit">Submit</button>
            </form>
        {% endif %}

      </div>
    </div>
{% endblock %}
