{% extends "base.html" %}
{% block head_title %}Movie Alert{% endblock %}
{% load l10n %}
{% load tz %}
{% block content %}
    {{ form.media }}
 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Welcome to Movie Alert</h2>
        <p>This is a website where you enter your movie to track with location and once it hits a cinema hall near you it would send you a notification.</p>
        <p>
            <form action="{% url "form_data" %}" method="POST">{% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <button class="btn btn-primary btn-lg" type="submit">Submit</button>
            </form>
        </p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
	<div class="col-md-4">
	  <h2 id="local-date">{{today}}</h2>
	  <p>This is the time using your local information </p>
	  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	</div>
	<div class="col-md-4">
	  <h2>Time Zones</h2>
	  <p> India: <span id="time-tz">{{now|time:"H:i"}}</span></p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	</div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
      </div>
{% endblock %}
